body {
	background-color: mintcream;
}

th, td {
	border-bottom: 1px solid #ddd;
	padding: 0.5rem;
}

.loader {
	visibility: hidden;
}

.loader--visible {
	visibility: visible;
}

.abort-button {
	width: 10rem;
	height: 2rem;
	font-size: 1rem;
}

@keyframes pulse_animation {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }	
}

.pulse {
	animation-name: pulse_animation;
	animation-duration: 1500ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
